{% extends 'base.html.twig' %}

{% block title %}Details {% endblock %}

{% block body %}
    <h1 style="margin-top:30px;margin-bottom:30px; text-align: center;">Edit Events</h1>
    <div class="container justify-content-center text-danger fw-bold ">
        {{ include('events/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('events/_delete_form.html.twig') }}
    </div>
{% endblock %}
